body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    color: #000000;
}

.links a, .subtext {
    color: #000000;
    font-size: 18px;
}

a{
    text-decoration-line: none;
    color: #000000;
} 

li {
    list-style-type: none;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.footer{
    text-align: center;
    color: #000000;
}

.hero {
    display: flex;
    padding: 50px 100px;
    font-family: "Roboto";
}

.hero .main {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 16px;
}

.image {
    flex-shrink: 1;
    color: #F9FaF8;
}

.sign-up {
    color: #EEEEEE;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.vid {
    border: 2px solid #3882F6;
    width: 560px;
    height: 250px;
}

.quote p {
    margin: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    background-color: #E5E7EB;
    align-items: center;
    padding: 50px 200px;
}

#speaker {
    align-self: flex-end;
}

.cta, .sign-up {
    color: #FFFFFF;
    background-color: #3882F6;
}

.cta {
    height: 100px;
    display: flex;
    margin: 100px 200px;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.actual-button {
    align-self: flex-end;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #FFFFFF; 
    color: #FFFFFF;
}

.actual-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.words p, .words h4 {
    margin: 0;
}