body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 25px;
}

a {
    text-decoration-line: none;
    color: #e5e7eb;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

.footer{
    text-align: center;
}

.links {
    display: flex;
    gap: 16px;
}